@page "/tutorial"
<h1>Tutorial</h1>

<p>IGFollowBack utilizes the meta data download feature to access following and follower data. Follow the below steps to get a download of this data.</p>

<ol>
    <li>
        Open Instagram and Navigate to "Settings and privacy" > "Accounts Center"
        <p></p>
        <img class="" src="/images/tutorial/Tutorial_1.png" />
        <p></p>
        <p></p>
    </li>
    <hr />
    <li>
        Choose "Your information and permissions"
        <p></p>
        <img class="" src="/images/tutorial/Tutorial_2.png" />
        <p></p>
        <p></p>
    </li>
    <hr />
    <li>
        Click "Download your information"
        <p></p>
        <img class="" src="/images/tutorial/Tutorial_3.png" />
        <p></p>
        <p></p>
    </li>
    <hr />
    <li>
        Click "Request a download"
        <p></p>
        <img class="" src="/images/tutorial/Tutorial_4.png" />
        <p></p>
        <p></p>
    </li>
    <hr />
    <li>
        Choose the account you want, then press "Next"
        <p></p>
        <img class="" src="/images/tutorial/Tutorial_5.png" />
        <p></p>
        <p></p>
    </li>
    <hr />
    <li>
        Choose "Select types of information"
        <p></p>
        <img class="" src="/images/tutorial/Tutorial_6.png" />
        <p></p>
        <p></p>
    </li>
    <hr />
    <li>
        Scroll down to the "Connections" section and select "Followers and following"; Click next
        <p></p>
        <img class="" src="/images/tutorial/Tutorial_7.png" />
        <p></p>
        <p></p>
    </li>
    <hr />
    <li>
        Click on "Format"
        <p></p>
        <img class="" src="/images/tutorial/Tutorial_8.png" />
        <p></p>
        <p></p>
    </li>
    <hr />
    <li>
        Change it from "HTML" to "JSON"
        <p></p>
        <img class="" src="/images/tutorial/Tutorial_9.png" />
        <p></p>
        <p></p>
    </li>
    <hr />
    <li>
        Click on "Date range"
        <p></p>
        <img class="" src="/images/tutorial/Tutorial_10.png" />
        <p></p>
        <p></p>
    </li>
    <hr />
    <li>
        Choose "All time"
        <p></p>
        <img class="" src="/images/tutorial/Tutorial_11.png" />
        <p></p>
        <p></p>
    </li>
    <hr />
    <li>
        The request will take a few (usually 5 or so) minutes to process, then return to the data download screen onces it's finished to download.
        <p></p>
        <img class="" src="/images/tutorial/Tutorial_12.png" />
        <p></p>
        <p></p>
    </li>
    <hr />
    <li>
        Once downloaded, return to the main page and upload your file.
        <p></p>
    </li>
</ol>

@code {

}
